<form #f="ngForm" (ngSubmit)="submit()">
  <div
    class="form-group"
    [formGroup]="changePassword">
    <label for="oldpassword">Old password</label>
    <input
    formControlName="old-password"
    id="oldpassword"
    type="password"
    class="form-control">
    <div *ngIf="oldPassword.pending">
      Pending validation...
    </div>

    <div
      class="alert alert-danger"
      *ngIf="oldPassword.touched && oldPassword.invalid">
      <div *ngIf="oldPassword.errors.mustBeValid">Old password is invalid.</div>
      <div *ngIf="oldPassword.errors.required">Old password is required.</div>
    </div>
    <label for="newpassword">New password</label>
    <input
      formControlName="new-password"
      id="newpassword"
      type="password"
      class="form-control">
    <div
      class="alert alert-danger"
      *ngIf="newPassword.touched && !newPassword.valid">
      <div *ngIf="newPassword.errors.required">
        New password is required.
      </div>
    </div>
    <div>
      <label for="confirmpassword">Confirm password</label>
      <input
        formControlName="confirm-password"
        id="confirmpassword"
        type="password"
        class="form-control">
      <div
        class="alert alert-danger"
        *ngIf="confirmPassword.touched && !confirmPassword.valid">
        <div *ngIf="confirmPassword.errors.required">
          Confirmed password is required.
        </div>
      </div>
    </div>
    <div *ngIf="changePassword.errors?.mustMatch" class="alert alert-danger">
      Passwords don't match.
    </div>
  </div>
  <button [disabled]="!f.valid" class="btn btn-primary" type="submit">Submit</button>
</form>
